DB_TYPE=prod
LOCAL_DB_URI="sqlite:///./todoapp.db"
DB_CONNECTOR=postgresql
DB_HOST=localhost
DB_PORT=5433
DB_NAME=todoapp
DB_USER="creativity"
DB_PASSWORD="creativity"

JWT_SECRET_KEY=bad492bfef2d3db7c6266d2a8480072f526e403cdbd3d454fc66b553ac442f94
JWT_EXPIRATION_TIME=3600
JWT_REFRESH_EXPIRATION_TIME=86400
JWT_ALGORITHM=HS256

